<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>shweta.practice</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8eef">  <td>20/07/20 11:28:49</td>   <td>0</td> <td title="&gt;&gt;USPScom.init()[pri:0, instance:generalPractice.USPScom@68be2bc2]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>20/07/20 11:28:53</td>   <td>4626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="USPScom.loginUSPSTest()[pri:0, instance:generalPractice.USPScom@68be2bc2]">loginUSPSTest</td> 
  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>20/07/20 11:28:56</td>   <td>7657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="USPScom.mouseOver()[pri:0, instance:generalPractice.USPScom@68be2bc2]">mouseOver</td> 
  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>20/07/20 11:28:52</td>   <td>3557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="USPScom.openUSPSTest()[pri:0, instance:generalPractice.USPScom@68be2bc2]">openUSPSTest</td> 
  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>20/07/20 11:28:59</td>   <td>10845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="USPScom.searchBox()[pri:0, instance:generalPractice.USPScom@68be2bc2]">searchBox</td> 
  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>20/07/20 11:29:11</td>   <td>22092</td> <td title="&lt;&lt;USPScom.teardown()[pri:0, instance:generalPractice.USPScom@68be2bc2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1620303253</td>   <td></td> </tr>
</table>
