<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6d4ae">  <td>20/07/20 11:22:58</td>   <td>0</td> <td title="&gt;&gt;USPScom.init()[pri:0, instance:generalPractice.USPScom@2a5ca609]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/07/20 11:23:03</td>   <td>4545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="USPScom.loginUSPSTest()[pri:0, instance:generalPractice.USPScom@2a5ca609]">loginUSPSTest</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/07/20 11:23:06</td>   <td>7406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="USPScom.mouseOver()[pri:0, instance:generalPractice.USPScom@2a5ca609]">mouseOver</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/07/20 11:23:02</td>   <td>3396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="USPScom.openUSPSTest()[pri:0, instance:generalPractice.USPScom@2a5ca609]">openUSPSTest</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/07/20 11:23:09</td>   <td>10440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="USPScom.searchBox()[pri:0, instance:generalPractice.USPScom@2a5ca609]">searchBox</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>20/07/20 11:23:20</td>   <td>21825</td> <td title="&lt;&lt;USPScom.teardown()[pri:0, instance:generalPractice.USPScom@2a5ca609]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
</table>
